/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #ffffff !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal section {
  text-align: justify;
}

.reveal ul li {
  text-align: justify;
}

.reveal {
  font-size: 24px; /* Set the desired font size */
}

.reveal h2 {
  font-size: 36px;
}

.reveal h3 {
  font-size: 32;
}